<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Login</title>
</head>

<body>
	<h2>Iniciar sesión</h2>

		<!-- <form action="@{/views/cliente/}" method="get"> -->
		<form action="@{/views/cliente/registro}" method="get">
	
		<label for="username">Usuario:</label>
		<input type="text" id="username" name="username" ><br><br>

		<label for="password">Contraseña:</label>
		<input type="password" id="password" name="password" ><br><br>

	<!-- 	<input type="submit" class="btn btn-primary  btn-sm" value="iniciar sesion"/> -->
		
		
		<button class="btn btn-primary btn-sm" title="crear nuevo cliente">registrarse</button>
	
	
	
    

			
	</form>
</body>

</html>