<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Login</title>
</head>

<body>
	<h2>Iniciar sesión</h2>

		<form action="@{/views/cliente/registro}" method="pos">
		<form action="@{/views/cliente/registro}" method="pos">
	
		<label for="username">Usuario:</label>
		<input type="text" id="username" name="username" ><br><br>

		<label for="password">Contraseña:</label>
		<input type="password" id="password" name="password" ><br><br>
		
	<a class="btn btn-primary btn-sm" th:href="@{/views/cliente/registro}"
			th:text="'registrarse'" title="crear nuevo cliente"> </a> 
			
	<a class="btn btn-primary btn-sm" th:href="@{/views/cliente/perfil}"
			th:text="'iniciar sesion'" title="ingresar al cliente"> </a> 


			
	</form>
	</form>
</body>

</html>